/***************/
/*Invite Friend*/
/***************/
.invite-friend {
    padding: 70px 0;
    background: url(../images/th/invite-friend/bg-invite-friend-noah.jpg) no-repeat top center;
    background-size: cover;
}

@media (max-width: 1200px) {}

@media (min-width: 992px)and (max-width:1199px) {}

@media (min-width: 768px)and (max-width:991px) {}

@media (min-width: 576px)and (max-width:767px) {}

@media (max-width: 575px) {}

@media (max-width:320px) {}
