/********/
/*planet*/
/********/
.planet-position-main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    transition: all .2s ease;
    filter: grayscale(100%);
}

.planet-hover {
    z-index: 3;
    filter: grayscale(0);
    transition: all .2s ease
}

.planet-btn-main {
    position: absolute;
    width: 7%;
    z-index: 2;
    cursor: pointer
}

.planet-select-main1,
.planet-select-main2,
.planet-select-main3,
.planet-select-main4,
.planet-select-main5 {
    position: absolute;
    z-index: 4;
    transform: skew(345deg, 0deg);
    /*background-color: #ff000066;*/
}

.planet-select-main1 {
    width: 5.7%;
    height: 4.1%;
    left: 23.4%;
    top: 43.6%;
}

.planet-select-main2 {
    width: 9.6%;
    height: 5.8%;
    left: 35.7%;
    top: 57%;
}

.planet-select-main3 {
    width: 8.7%;
    height: 4.8%;
    left: 46.1%;
    top: 39.3%;
}

.planet-select-main4 {
    width: 11%;
    height: 7.1%;
    top: 63%;
    left: 53.3%;
}

.planet-select-main5 {
    width: 10.5%;
    height: 5.8%;
    top: 47.9%;
    left: 68%;
}

@media (min-width: 1200px) {
    .container-pc {
        max-width: 1920px;
        margin: 0 auto;
    }
}

@media (max-width:991px) {
    .planet-select-main1 {
        width: 9.7%;
        height: 4.4%;
        left: 4.4%;
        top: 43.6%;
    }

    .planet-select-main2 {
        width: 16.5%;
        height: 5.8%;
        left: 25.7%;
        top: 57%;
    }

    .planet-select-main3 {
        width: 15%;
        height: 4.8%;
        left: 43.1%;
        top: 39.2%;
    }

    .planet-select-main4 {
        width: 18.6%;
        height: 7.1%;
        top: 63%;
        left: 55.6%;
    }

    .planet-select-main5 {
        width: 17.5%;
        height: 5.9%;
        top: 47.9%;
        left: 81%;
    }
}
